{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "import",
    "prettier",
    "react-hooks"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "document": "readonly",
    "window": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}

// Follow this guide :
// https://dev.to/renatobentorocha/how-to-setup-a-react-js-project-with-typcript-eslint-and-prettier-8mn

// Supports React-Hooks
// https://www.npmjs.com/package/eslint-plugin-react-hooks

// Supports ESlint Imports
// https://www.npmjs.com/package/eslint-plugin-import
